# Ignore Play! working directory #
.idea/
bin/
/db
.eclipse
/lib/
/logs/
/modules
project/project
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
.sbtserver/
.settings/
activator
activator-launch-1.3.2.jar
activator.bat
project/target
project/.sbtserver.lock
