body {
    color: #8d92a6;
}

h1 {
    color: #33485e;
}

td img {
    width: 100px;
}

#menu {
    background-color: #33485e;
    color: white;
    padding: 0;
}

#menu span {
    position: absolute;
    right: 5px;
    margin-top: 17px;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    border-bottom: solid 1px grey;
    line-height: 50px;
    padding-left: 10px;
}

#menu a {
    color: white;
}

#user-space {
    text-transform: capitalize;
    text-align: right;
    line-height: 77px;
}

#header {
    color: white;
    background-color: #2c3d50;
    text-transform: uppercase;
}

#title {
    font-size: 24px;
    text-align: center;
}

#title a {
    color: white;
    font-size: 54px;
}

#icon-catalog {
    width: 40px;
}

#icon-add_gift {
    width: 35px;
}

#icon-myrequests {
    width: 39px;
}

#icon-requests {
    width: 35px;
}

#icon-contacts {
    width: 40px;
}

#icon-logout {
    width: 30px;
}

.user-name {
    font-weight: bold;
    color: #33485e;
}

.gift-name {
    font-weight: bold;
    color: #33485e;
}

.gift-category-name {
    font-size: 0.9em;
    float: right;
}

form {
    background-color: #F2F2F2;
    border-radius: 2px;
    padding: 5px;
}

#catalog td:first-child, #requests td:first-child, #myrequests td:first-child, #gifts td:first-child {
    padding: 0;
    width: 100px;
}

#removeGift, #give, #addRequest, #removeRequest {
    float: right;
}

table p {
    font-size: 0.8em;
}

footer {
    text-align: center;
}

.dashboard-block {
    color: white;
    margin: 10px;
    height: 200px;
    padding: 0;
    background-color: #33485e;
    width: 30%;
}

.dashboard-block:hover {
    background-color: #8d92a6;
}

.dashboard-block img {
    float: left;
}

.dashboard-block #icon-catalog {
    width: inherit;
}

.dashboard-block #icon-add_gift {
    width: 100px;
}

.dashboard-block #icon-myrequests {
    width: 110px;
}

.dashboard-block #icon-requests {
    width: inherit;
}

.dashboard-block #icon-contacts {
    width: inherit;
}

#connection-space-accounts {
    text-align: center;
}

#connection-space-accounts img {
    width: 150px;
    margin-top: 15px;
}

.flash-error, .flash-message {
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
}

.flash-error {
    background-color: #e74c3c;
}

.flash-message {
    background-color: #16a085;
}

.badge-red, .label-red {
    background-color: #e74c3c;
}