@(user: models.User, catalog: List[models.Gift])

@main("Give! - Catalog", user) {
    <h1>Toutes les offres</h1>
    <table>
    @for(gift <- catalog) {
        <tr>
            <td>
                <img src="data:image/jpeg;base64,@gift.photoBase64" style="width : 100 px ;"/>
            </td>
            <td>
            @gift.description
            </td>
            <td>
            @gift.giver.name
            </td>
            <td>
            @gift.category.name
            </td>
            <td>
            @gift.name
            </td>
            <td>
                <form method="POST" action="requests">
                    <input type="hidden" value="@gift.id" name="giftId" />
                    <input type="submit" class="want" value="I WANT IT" />
                </form>

            </td>
        </tr>
    }
    </table>

}