@(user: models.User, request: models.Request)

@main("Give!", user) {

    <h1>Dernière étape, fixez un rendez-vous !</h1>

    <form action = "@routes.Requests.give.url" method="POST">
        <input type="hidden" name="requestId" value="@request.id">
        <div class="form-group">
            <label for="description">Texte de confirmation du rendez-vous</label>
            <textarea name="description" rows="8" class="form-control">
Bonjour @request.requester.name,

Je te propose de nous rencontrer le [Date] à [Lieu] pour te remettre cet objet.

A bientôt,

@request.gift.giver.name
            </textarea>
        </div>
        <button type="submit" class="btn btn-success">Je donne</button>
    </form>

    <img class="thumbnail" style="margin-left: auto; margin-right: auto;" src="data:image/jpeg;base64,@request.gift.photoBase64"/>

}