@(user: models.User)

@main("Give! - Gifts", user) {

    <h1>Donner un objet</h1>
    <form id="addGift" action = "@routes.Gifts.addGift" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="photo">Sélectionner une photo existante</label>
            <input type="file" name="photo" accept="image/*;capture=camera">
        </div>

        <div id="integrated-webcam" style="display:none;">
            <p>
                Ou
            </p>

            <div class="form-group">
                <label for="photo">Prendre une photo via votre webcam</label>
                <div class="alert alert-warning">
                    <p>
                        Si vous souhaitez prendre une photo depuis votre webcam, cliquez sur le bouton "Autoriser" en haut de la fenêtre.
                    </p>
                    <p>
                        Puis cliquez sur la vidéo pour prendre la photo.
                    </p>
                </div>
                <p>
                    <canvas style="display : none ;" width="320" height="240"></canvas>
                    <video autoplay></video>
                    <img class="thumbnail" id="snapshot-img" name="photo-webcam" src="@routes.Assets.at("images/no_photo.svg")">
                    <input type="hidden" id="photowebcam" name="photowebcam" />
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Description (facultatif)</label>
            <input name="name" class="form-control">
        </div>

        <p>
            <button type="submit" class="btn btn-success">Valider</button>
        </p>
    </form>

    @if(!user.gifts.isEmpty) {
        <h1>Mes objets à donner</h1>
        @for(gift <- user.gifts) {
            <div class="gift thumbnail">
                <img src="data:image/jpeg;base64,@gift.photoBase64"/>
                @if(gift.name) {
                    <p title="@gift.name">Voir la description</p>
                }
                <form id="removeGift" action = "@routes.Gifts.removeGift" method="POST">
                    <input type="hidden" name="giftId" value="@gift.id" />
                    <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                </form>
            </div>
        }
    }

}