@(user: models.User, categories: List[models.Category])

@main("Give! - Gifts", user) {

    <h1>Mes objets à donner</h1>

    <table id="gifts" class="table table-bordered">
    @for(gift <- user.gifts) {
        <tr>
            <td><img src="data:image/jpeg;base64,@gift.photoBase64"/></td>
            <td>
                <span class="gift-name">@gift.name</span>
                <span class="gift-category-name">@gift.category.name</span>
                <p>@gift.description</p>
                <form id="removeGift" action = "/gifts" method="DELETE">
                    <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
    }
    </table>

    <h1>Donner un autre objet</h1>

    <form id="addGift" action = "/gifts" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Titre</label>
            <input required name="name" class="form-control" placeholder="Une serviette éponge">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" class="form-control">
        </div>

        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" name="photo">
        </div>

        <div class="form-group">
            <select name="category" class="form-control">
            @for(category <- categories) {
                <option value="@category.id">@category.name</option>
            }
            </select>
        </div>
        <button type="submit" class="btn btn-default">Valider</button>
    </form>


}