@(user: models.User)
@import com.feth.play.module.pa.views.html._
@import com.feth.play.module.pa.providers.AuthProvider._

@main("Give !", user) {

    @currentAuth() { auth =>

        @if(auth != null && user != null) {
            <h1>Objets à donner :)</h1>
            @if(user.getCatalog.isEmpty) {
                <p>Aucun objet disponible pour le moment ...</p>

                <div class="alert alert-info" role="alert">
                    <strong>Astuce !</strong> Ajoutez de nouvelles relations en allant sur <a href="/users">
                    la page de gestion de contacts ...</a>
                </div>

            } else {
                @for(gift <- user.getCatalog) {
                    <div class="gift thumbnail">
                        <p class="user-name">@gift.giver.name</p>
                        <img src="data:image/jpeg;base64,@gift.photoBase64"/>
                        @if(gift.name) {
                            <p class="description" data-toggle="popover" data-content="@gift.name">Voir la description</p>
                        }
                        <form id="addRequest" method="POST" action="requests">
                            <input type="hidden" value="@gift.id" name="giftId" />
                            <button type="submit" class="btn btn-sm btn-primary">Je prends</button>
                        </form>
                    </div>
                }
            }
        } else {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10" style="text-align: center;">

                    <h1>Ne jetez plus, ne stockez plus, donnez !</h1>

                    <div class="alert" style="margin-top: 50px; text-align: left; font-size: 18px;">
                        <p><strong>Give!</strong> vous permet de vous séparer facilement des objets dont vous ne vous servez plus.</p>
                        <p>Vous êtes les mieux placés pour savoir à qui vous souhaitez les donner : vos amis, les membres de votre famille, vos voisins et vos collègues.</p>
                        <p>En quelques étapes, constituez votre stock de dons, invitez vos relations sur <strong>Give!</strong> et commencez les échanges !</p>
                    </div>
                    <p id="connection-space">
                        Sans inscription, il vous suffit de vous connecter avec l'un de vos comptes
                        <p id="connection-space-accounts">
                        @defining(Registry.get("google")) { google =>

                            <a href="@google.getUrl()"><img id="google-connect" src="@routes.Assets.at("images/google.png")"/></a>
                        }

                        @defining(Registry.get("facebook")) { facebook =>

                            <a href="@facebook.getUrl()"><img id="facebook-connect" src="@routes.Assets.at("images/facebook.png")"/></a>
                        }

                        </p>
                    </p>
                </div>
        }
    }
    </div>
}