@(title: String, user: models.User = null)(content: Html)

@import com.feth.play.module.pa.providers.AuthProvider._
@import com.feth.play.module.pa.views.html._

<!DOCTYPE html>
<html lang="@lang().code()">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" id="header">
                <div class="col-md-2"></div>
                <div id="title"  class="col-md-8">
                <a href="/">Give!</a>
                </div>
                <div class="col-md-2" id="user-space">
                    @currentAuth() { auth =>

                        @if(auth != null && user != null) {
                            <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout"><img id="icon-logout" src="@routes.Assets.at("images/logout.svg")" /></a> @user.name
                        }
                    }
                </div>
            </div>

            <div class="row">
                @currentAuth() { auth =>

                    @if(auth != null && user != null) {
                    <div class="col-md-2" id="menu">
                        <ul>
                            <li><img id="icon-catalog" src="@routes.Assets.at("images/catalog.svg")"/><a href="@routes.Catalog.index">Le catalogue @if(models.User.getCatalog.size > 0){<span class="badge">@models.User.getCatalog.size</span>}</a></li>
                            <li><img id="icon-add_gift" src="@routes.Assets.at("images/add_gift.svg")"/> <a href="@routes.Gifts.index">Mes objets @if(user.gifts.size > 0) {<span class="badge">@user.gifts.size</span>}</a></li>
                            <li><img id="icon-myrequests" src="@routes.Assets.at("images/myrequests.svg")"/><a href="@routes.MyRequests.index">Mes envies @if(user.requests.size > 0) {<span class="badge">@user.requests.size</span>}</a></li>

                            @if(models.User.getPendingRequests.size > 0) {
                                <li><img id="icon-requests" src="@routes.Assets.at("images/requests.svg")"/><a href="@routes.Requests.index">
                                    Répondre aux demandes <span class="badge badge-red">@models.User.getPendingRequests.size</span>
                                </a></li>
                            }

                            <li><img id="icon-contacts" src="@routes.Assets.at("images/contacts.svg")"/><a href="@routes.Users.index">Mes contacts <span class="badge">@if(models.User.getContacts.size > 0){ @models.User.getContacts.size</span>}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                                <div class="flash-error">
                                @flash().get(Application.FLASH_ERROR_KEY)
                                </div>
                            }
                            @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                                <div class="flash-message">
                                @flash().get(Application.FLASH_MESSAGE_KEY)
                                </div>
                            }
                        </div>
                        @content
                    </div>
                    } else {
                        <div class="col-md-1"></div>
                        <div class="col-md-9">
                        @content
                        </div>
                        <div class="col-md-1"></div>
                    }
                }
            </div>
        </div>

        <hr/>
        <footer>
            <a href="/about">Qui sommes-nous ?</a>
        </footer>
        <script src="@routes.Assets.at("javascripts/gift_photo.js")" type="text/javascript"></script>

    </body>
</html>