@(user: models.User)

@main("Give! - Requests", user) {

    <h1>Mes demandes</h1>

    @if(user.requests.isEmpty) {
        <p>Aucune demande pour le moment ...</p>

        <div class="alert alert-info" role="alert">
            <strong>Astuce !</strong> Ajoutez de nouvelles relations en allant sur <a href="/users">
            la page de gestion de contacts ...</a>
        </div>

    } else {

        @for(request <- user.requests) {
            <div class="gift thumbnail">
                <p class="user-name">@request.gift.giver.name</p>
                <img src="data:image/jpeg;base64,@request.gift.photoBase64"/>
                @if(request.gift.name) {
                    <p title="@request.gift.name">Voir la description</p>
                }
                <form id="removeRequest" action = "@routes.MyRequests.removeRequest" method="POST">
                    <input type="hidden" value="@request.id" name="requestId" />
                    <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                </form>
            </div>
        }
    }

}