@(user: models.User)

@main("Give! - Requests", user) {

    <h1>Mes demandes</h1>

    @if(user.requests.isEmpty) {
        <p>Aucune demande pour le moment ...</p>

        <div class="alert alert-info" role="alert">
            <strong>Astuce !</strong> Ajoutez de nouvelles relations en allant sur <a href="/users">
            la page de gestion de contacts ...</a>
        </div>

    } else {

        <table id="myrequests" class="table table-bordered">
        @for(request <- user.requests) {
            <tr>
                <td>
                @if(request.gift.photoBase64) {
                    <img src="data:image/jpeg;base64,@request.gift.photoBase64"/>
                }
                </td>
                <td>
                    <span class="user-name">@request.gift.giver.name</span>
                    donne <span class="gift-name">@request.gift.name</span>
                    <form id="removeRequest" action = "@routes.MyRequests.removeRequest" method="POST">
                        <input type="hidden" value="@request.id" name="requestId" />
                        <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        }
        </table>
    }

}