@(user: models.User)

@main("Give! - Requests", user) {

    <h1>Mes demandes</h1>

    <table class="table table-bordered">
    @for(request <- user.requests) {
        <tr>
            <td><img class="thumbnail" src="data:image/jpeg;base64,@request.gift.photoBase64"/></td>
            <td>
                <span class="user-name">@request.requester.name</span>
                <span class="gift-name">@request.gift.name</span>
                <span class="gift-category-name">@request.gift.category.name</span>
                <p>
                @request.gift.description
                </p>
                <form id="removeRequest" action = "/gifts" method="DELETE">
                    <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
    }
    </table>

}