@(user: models.User)

@main("Give! - Requests", user) {

    <h1>Demandes en cours</h1>

    <table id="requests" class="table table-bordered">
    @for(request <- models.User.getPendingRequests) {
        <tr>
            <td><img src="data:image/jpeg;base64,@request.gift.photoBase64"/></td>
            <td>
                <span class="user-name">@request.requester.name</span> voudrait <span class="gift-name">@request.gift.name</span>
                <span class="gift-category-name">@request.gift.category.name</span>
                <p>
                    @request.gift.description
                </p>
                <form id="give" method="POST" action="/give">
                    <input type="hidden" name="requestId" value="@request.id">
                    <input type="submit" class="btn btn-sm btn-primary" value="Je donne !"/>
                </form>
        </tr>
    }
    </table>

}