@(user: models.User, giver: models.User)

@main("Give!", user) {

    <h1>Ce que donne @giver.name</h1>
    @if(!giver.getAvailableGifts.isEmpty) {
        @for(gift <- giver.getAvailableGifts) {
            <div class="gift thumbnail">
                <img src="data:image/jpeg;base64,@gift.photoBase64"/>
                @if(gift.name) {
                    <p class="description" data-toggle="popover" data-content="@gift.name">Voir la description</p>
                }
                <form id="addRequest" method="POST" action="requests">
                    <input type="hidden" value="@gift.id" name="giftId" />
                    <button type="submit" class="btn btn-sm btn-primary">Je prends</button>
                </form>
            </div>
        }
    } else {
        <p>Aucun objet disponible pour le moment ...</p>
    }

}